@media screen and (max-width: 1200px) {
  header{
    padding: 30px 15px 0 15px;
  }

  footer{
    padding: 55px 15px 0 15px;
  }

}

@media screen and (max-width: 1024px) {
  header nav{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $responsive-menu-color;
    top: 0;
    left: 0;
    padding: 30px 15px;
  }

  .navigation-list{
    height: 100%;
    display: table;
    width: 100%;
  }

  header nav ul{
    display: table-cell;
    vertical-align: middle;
  }

  header nav ul li{
    display: block;
    text-align: center;
    font-size: 40px;
  }

  header nav ul li:last-child{
      margin-top: 100px;
  }

  #responsive-menu, #responsive-close{
    display: block;
  }

}

@media screen and (max-width: 880px) {
  .index-top-image-shadow{
      margin-right: 0px;
      margin-top: -7%;
  }
}

@media screen and (max-width: 768px) {

  body{
    font-size: 26px;
  }

  h1{
    font-size: 50px;
  }

  h3{
    font-size: 32px;
  }

  h4{
    font-size: 26px;
  }

  h5{
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 35px;
  }

  .big{
    font-size: 54px;
  }

  button{
    font-size: 26px;
  }

  .index-top{
    height: auto;
    background-position: 50% 0%;
    background-size: auto 80%;
  }

  .index-top-text{
    padding-top: 0px;
    text-align: center;
    width: 100%;
  }

  .index-top-image{
    width: 100%;
    text-align: center;
  }

  .index-top .arrow{
    display: none;
  }

  .index-top-image-phone:hover{
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-transform: none;
       -moz-transform: none;
         -o-transform: none;
            transform: none;
  }

  .index-top-image-shadow {
    margin-top: -23px;
  }

  .seperator{
    display: block;
  }


  .index-features{
    padding-top: 120px;
    font-size: 32px;
  }

  .index-features-block{
    width: 100%;
    text-align: center;
  }

  .index-features-block img{
    width: auto;
  }

  .index-features-block.odd,.index-features-block.even{
    padding: 80px 0 0 0;
  }

  .index-pricing {
    background-position: 69% 0%;
    background-size: auto 100%;
  }

  .index-pricing-block{
    margin: 50px 0;
    width: 50%;
    vertical-align: top;
    height: 430px;
  }

  .index-pricing-block.p-block-2{
      color: $third-text-color;
  }

  .index-pricing-block img{
    width: auto;
  }

  .index-pricing-block, .index-pricing-block button{
    font-size: 20px;
  }

  .index-pricing-footer{
    text-align: center;
  }

  .index-pricing-footer img{
    width: auto;
    margin-bottom: 15px;
  }

  footer{
    text-align: center;
    height: auto;
  }


  .copyrights, .company{
    float: none;
    margin-bottom: 35px;
  }

}

@media screen and (max-width: 480px) {
  .index-pricing-block{
    width: 100%;
  }

}
